<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>sinai</string>
	<string>bombardier</string>
	<string>medalNikolas</string>
	<string>sturdy</string>
	<string>willToWinSpirit</string>
	<string>tacticalBreakthrough</string>
	<string>heavyFireMedal</string>
	<string>medalCoolBlood</string>
	<string>histBattle1_battlefield</string>
	<string>guardsman</string>
	<string>medalStark</string>
	<string>medalDeLanglade</string>
	<string>battleCitizen</string>
	<string>beasthunter</string>
	<string>mousebane</string>
	<string>battleTested</string>
	<string>sentinelMedal</string>
	<string>noMansLand</string>
	<string>medalOskin</string>
	<string>invincible</string>
	<string>histBattle6_historyLessons</string>
	<string>wolfAmongSheepMedal</string>
	<string>promisingFighterMedal</string>
	<string>conqueror</string>
	<string>medalDumitru</string>
	<string>pattonValley</string>
	<string>histBattle3_battlefield</string>
	<string>medalBrunoPietro</string>
	<string>medalLeClerc</string>
	<string>medalTamadaYoshio</string>
	<string>tankExpert1</string>
	<string>armoredFist</string>
	<string>guerrillaMedal</string>
	<string>handOfDeath</string>
	<string>medalOrlik</string>
	<string>huntsman</string>
	<string>medalBurda</string>
	<string>medalGore</string>
	<string>makerOfHistory</string>
	<string>medalTarczay</string>
	<string>kamikaze</string>
	<string>pattonValley</string>
	<string>infiltratorMedal</string>
	<string>mechanicEngineer1</string>
	<string>mechanicEngineer0</string>
	<string>mechanicEngineer3</string>
	<string>mechanicEngineer2</string>
	<string>mechanicEngineer5</string>
	<string>mechanicEngineer4</string>
	<string>medalPoppel</string>
	<string>mechanicEngineer6</string>
	<string>steelwall</string>
	<string>histBattle1_historyLessons</string>
	<string>forTacticalOperations</string>
	<string>fightingReconnaissanceMedal</string>
	<string>medalHalonen</string>
	<string>histBattle3_historyLessons</string>
	<string>evileye</string>
	<string>histBattle4_historyLessons</string>
	<string>diehard</string>
	<string>histBattle5_battlefield</string>
	<string>medalBillotte</string>
	<string>sniper2</string>
	<string>raider</string>
	<string>medalRadleyWalters</string>
	<string>godOfWar</string>
	<string>medalWittmann</string>
	<string>warrior</string>
	<string>mainGun</string>
	<string>ironMan</string>
	<string>luckyDevil</string>
	<string>medalAbrams</string>
	<string>medalBrothersInArms</string>
	<string>medalRotmistrov</string>
	<string>medalDumitru</string>
	<string>kingOfTheHill</string>
	<string>medalKay</string>
	<string>prematureDetonationMedal</string>
	<string>kampfer</string>
	<string>histBattle2_historyLessons</string>
	<string>mechanicEngineer</string>
	<string>fireAndSteelMedal</string>
	<string>invader</string>
	<string>medalKnispel</string>
	<string>histBattle6_battlefield</string>
	<string>histBattle4_battlefield</string>
	<string>pyromaniacMedal</string>
	<string>rangerMedal</string>
	<string>medalLafayettePool</string>
	<string>medalKolobanov</string>
	<string>medalLavrinenko</string>
	<string>tankExpert4</string>
	<string>tankExpert5</string>
	<string>tankExpert6</string>
	<string>tankExpert0</string>
	<string>geniusForWarMedal</string>
	<string>tankExpert2</string>
	<string>tankExpert3</string>
	<string>scout</string>
	<string>medalAntiSpgFire</string>
	<string>medalCrucialContribution</string>
	<string>titleSniper</string>
	<string>sniper</string>
	<string>histBattle5_historyLessons</string>
	<string>medalPascucci</string>
	<string>tankExpert</string>
	<string>medalLehvaslaiho</string>
	<string>supporter</string>
	<string>defender</string>
	<string>heroesOfRassenay</string>
	<string>medalEkins</string>
	<string>medalMonolith</string>
	<string>medalCarius</string>
	<string>medalFadin</string>
	<string>armorPiercer</string>
	<string>crucialShotMedal</string>
</array>
</plist>
